@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-text-bright font-sans antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .pill-nav {
    @apply bg-surface-light/80 backdrop-blur-xl border border-surface-light rounded-full px-6 py-2 shadow-2xl;
  }
  
  .card-rounded {
    @apply bg-surface rounded-5xl p-12 transition-all duration-500 hover:bg-surface-light;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
